body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: #4d97ff;
    color: white;
    padding: 20px;
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    color: white;
}

h2 {
    color: #4d97ff;
}

ul {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #a8dadc;
    border-radius: 10px;
}

li {
    color: black;
}